$red: #ed0a3f;
$maroon: #c32148;
$scarlet: #fd0e35;
$brick-red: #c62d42;
$english-vermilion: #cc474b;
$madder-lake: #cc3336;
$permanent-geranium-lake: #e12c2c;
$maximum-red: #d92121;
$indian-red: #b94e48;
$orange-red: #ff5349;
$sunset-orange: #fe4c40;
$bittersweet: #fe6f5e;
$dark-venetian-red: #b33b24;
$venetian-red: #cc553d;
$light-venetian-red: #e6735c;
$vivid-tangerine: #ff9980;
$middle-red: #e58e73;
$burnt-orange: #ff7f49;
$red-orange: #ff681f;
$orange: #ff8833;
$macaroni-and-cheese: #ffb97b;
$middle-yellow-red: #ecb176;
$mango-tango: #e77200;
$yellow-orange: #ffae42;
$maximum-yellow-red: #f2ba49;
$banana-mania: #fbe7b2;
$maize: #f2c649;
$orange-yellow: #f8d568;
$goldenrod: #fcd667;
$dandelion: #fed85d;
$yellow: #fbe870;
$green-yellow: #f1e788;
$middle-yellow: #ffeb00;
$olive-green: #b5b35c;
$spring-green: #ecebbd;
$maximum-yellow: #fafa37;
$canary: #ffff99;
$lemon-yellow: #ffff9f;
$maximum-green-yellow: #d9e650;
$middle-green-yellow: #acbf60;
$inchworm: #afe313;
$light-chrome-green: #bee64b;
$yellow-green: #c5e17a;
$maximum-green: #5e8c31;
$asparagus: #7ba05b;
$granny-smith-apple: #9de093;
$fern: #63b76c;
$middle-green: #4d8c57;
$green: #3aa655;
$medium-chrome-green: #6ca67c;
$forest-green: #5fa777;
$sea-green: #93dfb8;
$shamrock: #33cc99;
$mountain-meadow: #1ab385;
$jungle-green: #29ab87;
$caribbean-green: #00cc99;
$tropical-rain-forest: #00755e;
$middle-blue-green: #8dd9cc;
$pine-green: #01786f;
$maximum-blue-green: #30bfbf;
$robins-egg-blue: #00cccc;
$teal-blue: #008080;
$light-blue: #8fd8d8;
$aquamarine: #95e0e8;
$turquoise-blue: #6cdae7;
$outer-space: #2d383a;
$sky-blue: #76d7ea;
$middle-blue: #7ed4e6;
$blue-green: #0095b7;
$pacific-blue: #009dc4;
$cerulean: #02a4d3;
$maximum-blue: #47abcc;
$blue-1: #4997d0;
$cerulean-blue: #339acc;
$cornflower: #93ccea;
$green-blue: #2887c8;
$midnight-blue: #00468c;
$navy-blue: #0066cc;
$denim: #1560bd;
$blue-3: #0066ff;
$cadet-blue: #a9b2c3;
$periwinkle: #c3cde6;
$blue-2: #4570e6;
$wild-blue-yonder: #7a89b8;
$indigo: #4f69c6;
$manatee: #8d90a1;
$cobalt-blue: #8c90c8;
$celestial-blue: #7070cc;
$blue-bell: #9999cc;
$maximum-blue-purple: #acace6;
$violet-blue: #766ec8;
$blue-violet: #6456b7;
$ultramarine-blue: #3f26bf;
$middle-blue-purple: #8b72be;
$purple-heart: #652dc1;
$royal-purple: #6b3fa0;
$violet-2: #8359a3;
$medium-violet: #8f47b3;
$wisteria: #c9a0dc;
$lavender-1: #bf8fcc;
$vivid-violet: #803790;
$maximum-purple: #733380;
$purple-mountains-majesty: #d6aedd;
$fuchsia: #c154c1;
$pink-flamingo: #fc74fd;
$violet-1: #732e6c;
$brilliant-rose: #e667ce;
$orchid: #e29cd2;
$plum: #8e3179;
$medium-rose: #d96cbe;
$thistle: #ebb0d7;
$mulberry: #c8509b;
$red-violet: #bb3385;
$middle-purple: #d982b5;
$maximum-red-purple: #a63a79;
$jazzberry-jam: #a50b5e;
$eggplant: #614051;
$magenta: #f653a6;
$cerise: #da3287;
$wild-strawberry: #ff3399;
$lavender-2: #fbaed2;
$cotton-candy: #ffb7d5;
$carnation-pink: #ffa6c9;
$violet-red: #f7468a;
$razzmatazz: #e30b5c;
$pig-pink: #fdd7e4;
$carmine: #e62e6b;
$blush: #db5079;
$tickle-me-pink: #fc80a5;
$mauvelous: #f091a9;
$salmon: #ff91a4;
$middle-red-purple: #a55353;
$mahogany: #ca3435;
$melon: #febaad;
$pink-sherbert: #f7a38e;
$burnt-sienna: #e97451;
$brown: #af593e;
$sepia: #9e5b40;
$fuzzy-wuzzy: #87421f;
$beaver: #926f5b;
$tumbleweed: #dea681;
$raw-sienna: #d27d46;
$van-dyke-brown: #664228;
$tan: #d99a6c;
$desert-sand: #edc9af;
$peach: #ffcba4;
$burnt-umber: #805533;
$apricot: #fdd5b1;
$almond: #eed9c4;
$raw-umber: #665233;
$shadow: #837050;
$raw-sienna-1: #e6bc5c;
$timberwolf: #d9d6cf;
$gold-1: #92926e;
$gold-2: #e6be8a;
$silver: #c9c0bb;
$copper: #da8a67;
$antique-brass: #c88a65;
$black: #000000;
$charcoal-gray: #736a62;
$gray: #8b8680;
$blue-gray: #c8c8cd;
$white: #ffffff;
